* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Style the header */
header {
    background-color:darkslategrey;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}
  
/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 80vh;  /* Change later */
    background: #ccc;
    padding: 20px;
}
  
/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}

.navBarLine {
    padding: 3%;
    background-color: goldenrod;
    color: white;
    text-decoration: none;  /* removes the underline under the anchor tag*/
}

.navBarLine:hover {
    background-color: rgb(163, 108, 6);
    transition: 0.3s;
}

.cities_page {
    list-style-type: none;
    padding-bottom: 302px;  /* might need to change */
    line-height: 25px;
}

article {
    float: left;
    padding: 38px;
    width: 80%;
    background-color: #f1f1f1;
    line-height: 20px;
    height: 80vh; /* Change later */
}

.list {
    line-height: 27px;  /* static declaration, might need to change */
    margin: auto;
}

.b1 {
    font-weight: bolder;
}

.b1:hover {
    /* Pseudo class */
    /* This is when hovered by mouse */
    color:darkblue;
    opacity: 0.9;
}

.b1:active {
    /* This is when clicked */
    color:gold;
}

.secret_easter_egg {
    color: #f1f1f1;
}
  
/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the footer */
footer {
    background-color: darkslategrey;
    padding: 10px;
    text-align: center;
    color: white;
}

.buttonCSS {
    padding: 7px;
    background-color: goldenrod;
    color: white;
    text-decoration: none;  /* removes the underline under the anchor tag*/
}

.buttonCSS:hover {
    background-color: rgb(163, 108, 6);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}